*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
   
}

html{
    font-size: 62.5%;
}

body {
    font-family: "Roboto", sans-serif;
    
    line-height: 1.7;
    
   
    min-height: 100%;
    box-sizing: border-box;
}


main {
  background-color: #e2e2e2;
  color: black;
  padding: 1rem;
  padding-bottom: 6rem;
}



.block, .block-brand{
    text-align: center;
}

.block-title{
  font-size: 2.5rem;
}
.block-content {
  background-color: #ffffff;
  padding: 1rem;
  max-width: 140rem;
  overflow: hidden;
  margin: auto;

}
.block-content ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around
}



.block-content li {
  list-style: none;
  border: .2rem solid #d4d2d2;
  margin-top: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  
  
}

.block-content li:hover {
  border: .2rem solid #4faff2;
  
}

footer{
  background-color: rgb(53, 51, 51);
  color: rgb(242, 242, 242); 
  
  font-size: small;
  line-height: 1.9;
}



.footerHeader {
  position: relative;
  top: 2rem;
  left: 5rem;
  padding-bottom: 4rem;
}
 
.service-content h4 {
    
    color: rgb(242, 242, 242);
}

.service-content p {
  color: rgb(212, 208, 208);
}

.line{
  width: 100%;
  background-color: rgb(212, 208, 208);
}

.footerBody {
  position: relative;
  top: 2rem;
  left: 5rem;
  padding-bottom: 8rem;
}
.connected p {
  padding-top: 1rem;
  font-size: 1.1rem;
  color: rgb(212, 208, 208);
}
.connected input[type="email"] {
  padding: .5rem;
}



.socialMedia ul{
    margin-top: 1rem;
    list-style: none;
    display: flex;
    
    
}

 
.socialMedia li{
  width: 2rem;
  background-color: white;
  margin: .1rem;
  border: .1rem solid rgb(214, 206, 206);
  text-align: center;
}

.socialMedia a {
  color: black;
}

.aboutUs ul {
  list-style: none;
 
}
.howToBuy ul {
  list-style: none;
}
 .customerService ul {
   list-style: none;
 }

 .partnerPromotion ul {
        list-style: none;
 }

 .aboutUs a {
   text-decoration: none;
   color: rgb(212, 208, 208);
 }

 .howToBuy a {
    text-decoration: none;
    color: rgb(212, 208, 208);
 }

 .customerService a {
   text-decoration: none;
   color: rgb(212, 208, 208);
 }

 .partnerPromotion a {
   text-decoration: none;
   color: rgb(212, 208, 208);
 }

 .copyRight {
   text-align: center;
   padding: 1rem;
   padding-bottom: 2rem;
   background-color: rgb(34, 34, 34);
 }

 .hidden {
   display: none;
 }

 @media screen and  (min-width: 1190px) {
        .row-items {
          display: flex;
          justify-content: space-evenly;
        }

        .block, .block-brand{
          text-align: left;
      }

       .block-title span {
         /* width: .5rem;
         height: 2rem; */
         padding: .3rem .3rem;
        background-color: #4faff2;
        margin-right: .5rem;
     
      }
 }

 @media screen and (min-width: 760px) {
        
      .footerHeader {
        position: relative;
        top: 2rem;
        left: 2rem;
        padding-bottom: 4rem;
      }

      .footerBody {
        position: relative;
        top: 2rem;
        left: 1rem;
        padding-bottom: 8rem;
        
      }

      


      .row-items {
        display: flex;
        justify-content: space-around;
        flex-wrap: nowrap;
      }

      .service-content {
        margin: 1rem;
      }

      .aboutUs, .howToBuy, .customerService,
      .partnerPromotion {
        margin-left: 1rem;
      }

      
 }