* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    background-color:#e2e2e2;
    line-height: 1.7;
    
   
    min-height: 100%;
    box-sizing: border-box;

}
/* Header section */

header {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 2;
}
header {
    display: flex;
    height: 7.5rem;
    justify-content: space-evenly;
    align-items: center;
}

header .company-logo {
    display: flex;
}

header .company-logo:hover {
    cursor: pointer;
}

header .company-logo i {
    margin-right: 0.5rem;
}

header .company-logo p {
    flex-direction: column;
    font-size: 1rem;
    font-weight: bolder;
}

header .header-search-bar input {
    padding: 0.7rem 15rem;
}

header .header-search-bar div {
    display: inline-block;
    height: 2.6rem;
    width: 5rem;
    background-color: #4faff2;
    text-align: center;
    position: absolute;
}

header .header-search-bar div:hover {
    background-color: #0a91f1;
    cursor: pointer;
}

header .header-search-bar div i {
    margin: 0.3rem;    
}


header .header-icons .bag {
    margin-right: 2rem;
}

header .header-icons .bag:hover {
    cursor: pointer;
}
header .header-icons .user {
    margin-right: 1rem;
}

header .header-icons .user:hover {
    cursor: pointer;
}


header .header-icons {
    display: flex;
}

header .header-icons .header-links {
    flex-direction: column;
}

header .header-icons .header-links  {
    display: flex;
}

header .header-icons .header-links div {
    padding-bottom: .5rem;

}

header .header-icons .header-links div a {
    font-size: 0.8rem;
    text-decoration: none;
}

header .header-icons .header-links div a:hover {
    color: #4faff2;
} 


/* Nav-bar section */
nav {
    position: sticky;
    top: 7.5rem;
    z-index: 2;
}
nav  .nav{
    display: flex;
    height: 3rem;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f3f3f3;
}

nav .flex {
    display: flex;
}

nav .bg {
    background-color: #e2e2e2;
    left: -5rem;
    cursor: pointer;
}

nav .bg:hover .arrow {
    transition: all .2s ease;
    transform: rotate(180deg);
}

nav .bg ul li {
    display: inline-block;
}

nav .bg ul {
    list-style: none;
    position: absolute;
}

nav .bg ul li a {
    margin-right: 0.6rem;
    margin-left: 1.8rem;
}

nav .bg ul li ul {
    display: none;
}


nav .bg:hover ul li ul {
    display: block;
    background-color: #e2e2e2;
    margin-top: .8rem;
    width: 14.5rem;
    margin-left: -1.4rem;
}

nav .bg:hover ul li ul li {
    display: block;
    padding: .6rem 0;
    border-bottom: solid 1px rgb(75, 75, 75);
}

nav .bg:hover ul li ul li span {
    background-color: #4faff2;
    padding: .2rem 0.5rem;
    text-align: center;
    border-radius: .5rem;
}

nav .common a {
    text-decoration: none;
    font-size: 0.9rem;
    color: black;
}


/* common class */
nav .common {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 3rem;
    width: 14rem;
    position: relative;
     
}

/* mobile search icon */

nav .mobile-search-icon {
    display: none;
}

/* mid */
nav .mid {
    position: relative;
    width: 30rem;
    height: 3rem;
}

nav .mid .flex i {
    margin-left: 1rem;
}


nav .mid .flex:hover a {
    color: #4faff2;
    cursor: pointer;
}
nav .mid .flex:hover .default-color {
    color: black;
}

.default-color {
    color: #4faff2;
}

/* phone */

nav .phone p {
    font-size: .9rem;
    margin-left: .6rem;
}



/* showcase */
#showcase {
    background-color:#e2e2e2;

}
#showcase .container {
    overflow: hidden;
    padding-top: 1.5rem;

}

#showcase .container img {
    cursor: pointer;
    height: 400px;
    width: 1600px;
}

/* media queries */


@media screen and (max-width: 1200px) {
    header .header-search-bar input {
        padding: 0.5rem 9rem;
    }

    header .header-search-bar div {
        height: 2.2rem;
        width: 4rem;
    }

    header {
        height: 7rem;
        justify-content: space-around;
    }

    nav {
        top: 7rem;
    }

    nav .bg {
        left: 1rem;
    }

    #showcase .container {
        /* max-width: 1200; */
    }

    #showcase .container img {
        height: 200px;
        width: 1100px;
    }
    
}


@media screen and (max-width: 950px) {
    header .header-search-bar input {
        padding: 0.5rem 6rem;
    }

    header .header-search-bar div {
        height: 2.2rem;
        width: 4rem;
    }

    #showcase .container {
        /* max-width: 900; */
    }

    #showcase .container img {
        height: 200px;
        width: 950px;
    }

}

@media screen and (max-width: 800px) {
    header .header-search-bar input {
        padding: 0.5rem 4rem;
    }

    nav .bg ul li a {
        margin-right: 0rem;
        margin-left: 1rem;
    }

    #showcase .container {
        /* max-width: 700; */
    }

    #showcase .container img {
        height: 150px;
        width: 700px;
    }
    
}

@media screen and (max-width: 720px) {
    header .header-search-bar input,
        header .header-search-bar div {
        display: none;
    }

    header {
        justify-content: space-around;
    }

    nav  .nav{
        justify-content: space-between;
    }

    nav .bg {
        left: 0rem;
    }

    nav .bg ul li a {
        margin-right: 0.2rem;
        margin-left: 0.8rem;
    }

    nav .mid {
        display: none;
    }

    nav .mobile-search-icon {
        display: flex;
    }

    #showcase .container {
        /* max-width: 600; */
    }

    #showcase .container img {
        height: 150px;
        width: 600px;
    }


}


@media screen and (max-width: 415px) {
    nav .phone {
        display: none;
    }

    #showcase .container {
        /* max-width: 415; */
    }

    #showcase .container img {
        height: 150px;
        width: 400px;
    }
}


/* OLUMIDE'S PART STARTS */

/* .header-blue{
    border: 0.2rem solid blue;
    background-color: blue;
    /* height: auto; 
    margin-right: 3px;
  
  } */

  .card {
      box-shadow: 0 4px 8px 0 rgba(172, 172, 172, 0.2);
      max-width: 260px;
      margin: auto;
      text-align: center;
      font-family: arial;
    }
  
    .card :hover{
      background-color:#E0dada;
      cursor: pointer;
    }
  
    .picture{
        max-width: 350px;
        display: flex;
        flex-wrap: wrap;
        padding: 35px;
        /* margin-bottom: 50px;
        margin-left: 30px; */
        margin: auto;
      
    }
    .picture :hover{
      cursor: pointer;
    }
    .mobile-pictures{
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
       display: block;
      
    }
   .section-text{
        display: flex;
        justify-content: start;
        margin-left: 18px;
        padding: 10px;
    }
  
    @media screen and (min-width: 400px) {
      .section-text {
        display: flex;
        justify-content: center;
        font-size: 29px;
      }
    }
  
    @media screen and (min-width: 600px) {
      .section-text {
        display: flex;
        justify-content: start;
        font-size: 40px;
      }
    }
    
    .price {
      color: grey;
      font-size: 22px;
    }
    
    .card button {
      border: none;
      outline: 0;
      padding: 12px;
      color: white;
      background-color: #000;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 18px;
    }
  
    .cards-holder {
      display: flex;
      flex-wrap: wrap;
      background-color: white;
    }
    
   
    .card {
      flex: 25%;
      padding: 20px;
    }
    
  
    @media screen and (max-width: 992px) {
      .card {
        flex: 50%;
      }   
    }
    
    @media screen and (max-width: 600px) {
      .cards-holder {
        flex-direction: column;
      }
    }
   @media screen and (max-width: 500px) {
      .picture {
        flex: 50%;
      }
    }


    /* OLUMIDE'S PART ENDS */

    /* JASON'S PART STARTS */

    .main-accessories, .main-used-deals {
        /* margin-bottom: 5rem; */
    }
    
    /* ACCESSORIES */
    
    .accessories {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        background-color: white;
        padding: 0.5rem;
    }
    
    .grid-container1-accessories {
        display: inline-grid;
        grid-template-columns: auto auto auto;
    }
    
    .grid-container2-accessories {
        display: inline-grid;
        grid-template-columns: auto auto auto auto;
    }
    
    /* span {
        border: 0.2rem solid blue;
        background-color: blue;
        height: auto;
    } */
    
    @media only screen and (max-width: 660px) {
        .grid-container1-accessories {
            display: inline-grid;
            grid-template-columns: auto;
            grid-template-rows: auto;
        }
        
        .grid-container2-accessories {
            display: inline-grid;
            grid-template-columns: auto;
            grid-template-rows: auto;
        }
    }
    
    @media only screen and (min-width: 700px) and (max-width: 1000px) {
        .grid-container1-accessories {
            display: inline-grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto;
        }
        
        .grid-container2-accessories {
            display: inline-grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto;
        }
    }
    
    /* USED DEALS */
    
    .used-deals {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        /* grid-template-columns: auto;
        grid-template-rows: auto; */
        background-color: white;
        padding: 0.5rem;
    }
    
    .grid-container1-used-deals {
        /* flex-basis: 2; */
        /* display: inline-grid;
        grid-template-columns: auto; */
    }
    
    .grid-container2-used-deals {
        display: flex;
        justify-content: space-evenly;
        /* display: inline-grid;
        grid-template-columns: auto auto; */
    }
    
    /* span {
        border: 0.2rem solid #4faff2;
        background-color: #4faff2;
        height: auto;
    } */
    
    @media only screen and (max-width: 660px) {
        .used-deals {
            /* width: 100%; */
            flex-direction: column;
        }
        
        .grid-container1-used-deals {
            /* display: inline-grid;
            grid-template-columns: auto;
            grid-template-rows: auto; */
        }
        
        .grid-container2-used-deals {
            /* display: inline-grid;
            grid-template-columns: auto;
            grid-template-rows: auto; */
        }
    }
    
    @media only screen and (min-width: 700px) and (max-width: 1000px) {
        .used-deals {
            /* width: 100%; */
        }
        
        .grid-container1-used-deals {
            /* display: inline-grid;
            grid-template-columns: auto;
            grid-template-rows: auto; */
        }
        
        .grid-container2-used-deals {
            /* display: inline-grid;
            grid-template-columns: auto auto;
            grid-template-rows: auto; */
        }
    }

    /* JASON'DS PART ENDS */

    /* AYO'S PART STARTS */

    main {
        background-color: #e2e2e2;
        color: black;
        padding: 1rem;
        padding-bottom: 6rem;
      }
      
      
      
      .block, .block-brand{
          text-align: center;
      }
      
      .block-title{
        font-size: 2rem;
      }
      .block-content {
        background-color: #ffffff;
        padding: 1rem;
        max-width: 140rem;
        overflow: hidden;
        margin: auto;
      
      }
      .block-content ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around
      }
      
      
      
      .block-content li {
        list-style: none;
        border: .2rem solid #d4d2d2;
        margin-top: 2rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        
        
      }
      
      .block-content li:hover {
        border: .2rem solid #4faff2;
        
      }
      
      footer{
        background-color: rgb(53, 51, 51);
        color: rgb(242, 242, 242); 
        
        font-size: small;
        line-height: 1.9;
      }
      
      
      
      .footerHeader {
        position: relative;
        top: 2rem;
        left: 5rem;
        padding-bottom: 4rem;
      }
       
      .service-content h4 {
          
          color: rgb(242, 242, 242);
      }
      
      .service-content p {
        color: rgb(212, 208, 208);
      }
      
      .line{
        width: 100%;
        background-color: rgb(212, 208, 208);
      }
      
      .footerBody {
        position: relative;
        top: 2rem;
        left: 4rem;
        padding-bottom: 8rem;
      }
      .connected p {
        padding-top: 1rem;
        font-size: 1.1rem;
        color: rgb(212, 208, 208);
      }
      .connected input[type="email"] {
        padding: .5rem;
      }
      
      
      
      .socialMedia ul{
          margin-top: 1rem;
          list-style: none;
          display: flex;
          
          
      }
      
       
      .socialMedia li{
        width: 2rem;
        background-color: white;
        margin: .1rem;
        border: .1rem solid rgb(214, 206, 206);
        text-align: center;
      }
      
      .socialMedia a {
        color: black;
      }
      
      .aboutUs ul {
        list-style: none;
       
      }
      .howToBuy ul {
        list-style: none;
      }
       .customerService ul {
         list-style: none;
       }
      
       .partnerPromotion ul {
              list-style: none;
       }
      
       .aboutUs a {
         text-decoration: none;
         color: rgb(212, 208, 208);
       }
      
       .howToBuy a {
          text-decoration: none;
          color: rgb(212, 208, 208);
       }
      
       .customerService a {
         text-decoration: none;
         color: rgb(212, 208, 208);
       }
      
       .partnerPromotion a {
         text-decoration: none;
         color: rgb(212, 208, 208);
       }
      
       .copyRight {
         text-align: center;
         padding: 1rem;
         padding-bottom: 2rem;
         background-color: rgb(34, 34, 34);
       }
      
       .hidden {
         display: none;
       }

       .blueBorder {
        padding: .1rem .1rem;
       background-color: #4faff2 !important;
       margin-right: .5rem;
    
     }
      
       @media screen and  (min-width: 1190px) {
              .row-items {
                display: flex;
                justify-content: space-evenly;
              }
      
              .block, .block-brand{
                text-align: left;
            }
      
             .blueBorder {
               padding: .1rem .1rem;
              background-color: #4faff2 !important;
              margin-right: .5rem;
           
            }
       }
      
       @media screen and (min-width: 760px) {
              
            .footerHeader {
              position: relative;
              top: 2rem;
              left: 2rem;
              padding-bottom: 4rem;
            }
      
            .footerBody {
              position: relative;
              top: 2rem;
              left: 1rem;
              padding-bottom: 8rem;
              
            }
      
            .row-items {
              display: flex;
              justify-content: space-around;
              flex-wrap: nowrap;
            }
      
            .service-content {
              margin: 1rem;
            }
      
            .aboutUs, .howToBuy, .customerService,
            .partnerPromotion {
              margin-left: 1rem;
            }
      
            
       }